.block
  .title
    顧客評価
  - if user_department_and_datum?(2, @evaluation_datum)
    = form_with(model: [@product, @evaluation_datum_new], local: true) do |form|
      .comment-area
        = render partial: "form", locals: { form: form }
  - else
    .comment-area
      %textarea.comment-area__main-area{readonly: "readonly"}
        = @evaluation_datum&.comment
      -if @evaluation_datum&.image.present?
        = image_tag @evaluation_datum&.image&.url, class: "comment-area__image-area"
      .comment-area__sub-area
        記入日：
        %input.output{value: "#{@evaluation_datum&.updated_at&.strftime("%Y/%m/%d")}", readonly: "readonly"}
        　担当者：
        %input.output{value: "#{@evaluation_datum&.user&.name}", readonly: "readonly"}
