.block
  .title
    検査工程
  - if append_datum_form?(1, @inspection_datum.id)
    = form_with(model: [@product, @inspection_datum_new], local: true) do |form|
      .comment-area
        .comment-area__size-area
          実寸法：
          = form.text_field :length, class: "size-input", placeholder: "周長"
          m ✖️
          = form.text_field :width, class: "size-input", placeholder: "横幅"
          cm
          = form.text_field :weight, class: "size-input weight", placeholder: "重量"
          kg
        = render partial: "form", locals: { form: form }
  - else
    = form_with(model: [@product, @inspection_datum], local: true) do |form|
      .comment-area
        .comment-area__size-area
          実寸法：
          = form.text_field :length, class: "size-input size-input--edit", placeholder: "周長", id: "size-input--length"
          m ✖️
          = form.text_field :width, class: "size-input size-input--edit", placeholder: "横幅", id: "size-input--width"
          cm
          = form.text_field :weight, class: "size-input size-input--edit weight", placeholder: "重量", id: "size-input--weight"
          kg

        = form.text_area :comment, class: "comment-area__main-area comment-area__main-area--edit", id: "comment-area__main-area--inspection"
        -if @inspection_datum&.image.present?
          = image_tag @inspection_datum&.image&.url, class: "comment-area__image-area"
        = form.file_field :image , class: "image-btn image-btn--edit", id: "image-btn--inspection"
        .comment-area__sub-area
          .date
            記入日：
            %input.output{value: "#{@inspection_datum&.updated_at&.strftime("%Y/%m/%d")}", readonly: "readonly"}
          .editor
            担当者：
            %input.output{value: "#{@inspection_datum&.user&.name}", readonly: "readonly"}

        - if append_edit_button?(1, @inspection_datum&.id)
          .comment-area__btn-area
            %div{ class: "btn edit-btn", id: "edit-btn--inspection", "data-datum" => "inspection"}
              内容の変更
            %div{ class: "btn cancel-btn", id: "cancel-btn--inspection"}
              変更の中止
            = form.submit "確定", method: :patch, class: "btn submit-btn submit-btn--edit", id: "submit-btn--inspection"
