.main-content__product-form.clearfix
  .title
    新規登録
  = form_with(model: @product, local: true) do |form|
    .form#product_design.clearfix
      .info
        製品番号
        = form.text_field :number, class: "info__input", readonly: "readonly", id: "number", value: @new_number
      .info
        発注先
        = form.select :client_id, options_for_select(@client.map{|client|[client[:campany], client[:id], {}]}, ""), {}, {class: "info__input", id: "campany"}
      .info
        材質
        = form.select :material_id, options_for_select(@material.map{|material|[material[:name], material[:id], {"basis_weight"=>material[:basis_weight]}]}, ""), {}, {class: "info__input"}
      .info-size.clearfix
        設計寸法
        .info-size__size
          = form.text_field :length, class: "input", placeholder: "周長(必須)"
          m ✖️
          = form.text_field :width, class: "input", placeholder: "横幅(必須)"
          cm
        .info-size__weight
          %input#calculation-weight.info__output{type: "text",readonly: "readonly"}
          kg
      = form.submit "登録", class: "btn"
