.side-bar__product-design
  .info
    製品番号
    %input.info__output{value: "#{@product&.number}", readonly: "readonly"}
  .info
    社名
    %input.info__output{value: "#{@product&.client&.campany}", readonly: "readonly"}
  .info
    材質
    %input.info__output{value: "#{@product&.material&.name}", readonly: "readonly"}
  .info-size.clearfix
    設計寸法
    .info-size__size
      %input.output{value: "#{@product&.length}", readonly: "readonly"}
      m ×
      %input.output{value: "#{@product&.width}", readonly: "readonly"}
      cm
    .info-size__weight
      %input.output{value: "#{weight(@product)}", readonly: "readonly"}
      kg
  - if user_signed_in? && current_user.department_id == 2 && @product.present?
    .edit-btn.clearfix
      = link_to "設計変更", edit_product_path(@product), class: 'btn'
      -if @product.production_datum.present?
        .comment
          ※製作済みのため
          %br
          設計変更できません
