.block
  .title
    製作工程
  - if append_datum_form?(1, @production_datum.id)
    = form_with(model: [@product, @production_datum_new], local: true, class: "datum_form", data: {datum: "production"}) do |form|
      .comment-area
        = form.text_area :comment, class: "comment-area__main-area", placeholder: "コメントを記入してください(必須)"
        .comment-area__image-area#comment-area__image-area--production#image-area--production.clearfix
        %label{for: "production_datum_production_images_attributes_0_image", class: "btn image-btn", id: "image-btn--production", "data-datum" => "production"}
          画像を挿入
          = form.file_field :image, type: 'file', name: "production_datum[production_images_attributes][0][image]", class: "hidden-field production-file-field", id: "production_datum_production_images_attributes_0_image"
        .comment-area__sub-area
          = form.submit "確定", class: "btn submit-btn"

  - else
    = form_with(model: [@product, @production_datum], local: true, class: "datum_form", data: {datum: "production"}) do |form|
      .comment-area#comment-area--production
        = form.text_area :comment, class: "comment-area__main-area comment-area__main-area--edit", id: "comment-area__main-area--production", placeholder: "コメントを記入してください(必須)"

        .comment-area__image-area#comment-area__image-area--production#image-area--production.clearfix
          - @production_datum.production_images.each_with_index do |production_image, index|
            %div{class: "production-image", "data-index" => "#{index}", id: "item-image--production_#{index}"}
              %img{src: "#{production_image.image}", class: "image-src"}
              %br
              %div{class: "btn image-delete-btn image-delete-btn--production", id: "delete-btn--production_#{index}", "data-datum" => "production"}
                削除
          = form.fields_for :production_images do |image|
            = image.check_box :_destroy, class: "hidden-destroy hidden-destroy--production", data:{ index: "#{image.index}" }

        %label{for: "production_datum_production_images_attributes_#{@production_datum.production_images.length}_image", class: "btn image-btn image-btn--edit", id: "image-btn--production", "data-datum" => "production"}
          画像を挿入
          = form.file_field :image, type: 'file', name: "production_datum[production_images_attributes][#{@production_datum.production_images.length}][image]", class: "hidden-field production-file-field", id: "production_datum_production_images_attributes_#{@production_datum.production_images.length}_image"

        .comment-area__sub-area
          .date
            記入日：
            %input.output{value: "#{@production_datum&.updated_at&.strftime("%Y/%m/%d")}", readonly: "readonly"}
          .editor
            担当者：
            %input.output{value: "#{@production_datum&.user&.name}", readonly: "readonly"}

        - if append_edit_button?(1, @production_datum&.id)
          .comment-area__btn-area
            %div{ class: "btn edit-btn", id: "edit-btn--production", "data-datum" => "production"}
              内容の変更
            %div{ class: "btn cancel-btn", id: "cancel-btn--production"}
              変更の中止
            = form.submit "確定", method: :patch, class: "btn submit-btn submit-btn--edit", id: "submit-btn--production"
