.main-content__product-data
  .menu
    #manufacturing.menu__tab.active
      製造情報
    #sales.menu__tab
      営業情報

  .contents
    .contents__manufacturing.content.show
      -# .content__production.block
      .block
        .title
          製作工程
        - if current_user.department_id == 1 && @production_datum.blank?
          -# ↓機能実装時に確定ルーティングを設定する事
          = form_with(model: @production, local: true) do |form|
            .comment-area
              = render partial: "products/form", locals: { form: form }
        - else
          .comment-area
            = render partial: "products/comment"
      .block
        .title
          検査工程
        - if current_user.department_id == 1 && @inspection_datum.blank?
          -# ↓機能実装時に確定ルーティングを設定する事
          = form_with(model: @inspection, local: true) do |form|
            .comment-area
              .comment-area__size-area
                実寸法：
                = form.text_field :length, class: "size-input", placeholder: "周長"
                m ✖️
                = form.text_field :width, class: "size-input", placeholder: "横幅"
                cm　
                = form.text_field :weight, class: "size-input", placeholder: "重量"
                kg
              = render partial: "products/form", locals: { form: form }
        - else
          .comment-area
            .comment-area__size-area
              実寸法：
              .size-output
                仮入力
                -# = product.inspection.length
              m ✖️
              .size-output
                仮入力
                -# = product.inspection.width
              cm　
              .size-output
                仮入力
                -# = product.inspection.weight
              kg
            = render partial: "products/comment"

    .contents__sales.content
      .block
        .title
          顧客評価
        - if current_user.department_id == 2 && @evaluation_datum.blank?
          -# ↓機能実装時に確定ルーティングを設定する事
          = form_with(model: @evalution, local: true) do |form|
            .comment-area
              = render partial: "products/form", locals: { form: form }
        - else
          .comment-area
            = render partial: "products/comment"
